{% load nvd3_tags %}
<head>
{% load_chart charttype chartdata chartcontainer %}
</head>
<br>
  {% include_container chartcontainer 400 800 %}
<br>
<form method= "post">
{% csrf_token %}
<div class= 'show_table'>
<table>
  <tr>
     <td width=50;><b> Rank </b></td>
     <td width=300;><b> URL 링크 </b></td>
     <td width=300;><b> 타이틀 </b></td>
     <td width=50;><b> 공유 횟수 </b></td>
  </tr>
  {% for k,v in weekrank_dict %}
  <tr>
    <td width=50;>{{ forloop.counter }}</td>
  	<td width=300;><a href="{{ k.0  }}">{{ k.0 }}</td>
  	<td width=300;>{{ k.1 }}</td>
  	<td width=500;>{{ v }}</td>
  </tr>
  {% endfor %}
</table>
</div>
