
.show_table {
  table-layout:fixed;
  margin:0px;padding:0px;

  width: 100%;
  -moz-border-radius-bottomleft:6px;
  -webkit-border-bottom-left-radius:6px;
  border-bottom-left-radius:6px;

  -moz-border-radius-bottomright:6px;
  -webkit-border-bottom-right-radius:6px;
  border-bottom-right-radius:6px;

  -moz-border-radius-topright:6px;
  -webkit-border-top-right-radius:6px;
  border-top-right-radius:6px;

  -moz-border-radius-topleft:6px;
  -webkit-border-top-left-radius:6px;
  border-top-left-radius:6px;
}.show_table table{
  table-layout:fixed;
  word-break:break-all;
   width: 100%;
    border-collapse: collapse;
        border-spacing: 0;
  margin:0px;padding:0px;
}.show_table tr:last-child td:last-child {
  -moz-border-radius-bottomright:6px;
  -webkit-border-bottom-right-radius:6px;
  border-bottom-right-radius:6px;
}
.show_table table tr:first-child td:first-child {
  -moz-border-radius-topleft:6px;
  -webkit-border-top-left-radius:6px;
  border-top-left-radius:6px;
}
.show_table table tr:first-child td:last-child {
  -moz-border-radius-topright:6px;
  -webkit-border-top-right-radius:6px;
  border-top-right-radius:6px;
}.show_table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:6px;
  -webkit-border-bottom-left-radius:6px;
  border-bottom-left-radius:6px;
}.show_table tr:hover td{

}
.show_table tr:nth-child(odd){ background-color:#e5e5e5; }
.show_table tr:nth-child(even)    { background-color:#ffffff; }.show_table td{
  vertical-align:middle;


  border:1px solid #e5e5e5;
  border-width:0px 1px 1px 0px;
  text-align:center;
  padding:7px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}.show_table tr:last-child td{
  border-width:0px 1px 0px 0px;
}.show_table tr td:last-child{
  border-width:0px 0px 1px 0px;
}.show_table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.show_table tr:first-child td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
  background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);

  background-color:#cccccc;
  border:0px solid #e5e5e5;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#000000;
}
.show_table tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
  background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");  background: -o-linear-gradient(top,#cccccc,b2b2b2);

  background-color:#cccccc;
}
.show_table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.show_table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.show_table table tr.Hour td {
  background-color: #CC9999; color: black;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline;
  cursor:pointer;
  color:#666666;
  font-family:arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  width:250;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}
.myButton:active {
  position:relative;
  top:1px;
}

